<h3>What do you have to say?</h3>

<form class="add" ng-submit="vm.addComment(comment)">
  <input placeholder="Type your name here." ng-model="comment.name"> <span>{{msgN}}</span>
  <input placeholder="your_email@email.com" ng-model="comment.email"> <span>{{msgE}}</span>
  <input placeholder="http://yourwebsite.com" ng-model="comment.website"> <span>{{msgW}}</span>
  <textarea placeholder="Type your message here." ng-model="comment.message"></textarea> <span>{{msgM}}</span>
  <button>Submit</button>
</form>